<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeFilterAvailable_Mac</key>
	<string>10.10</string>
	<key>CIAttributeFilterAvailable_iOS</key>
	<string>8</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryTransition</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>Accordion Fold Transition</string>
	<key>CIAttributeFilterName</key>
	<string>CIAccordionFoldTransition</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CIAccordionFoldTransition</string>
	<key>inputBottomHeight</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>0.0</real>
		<key>CIAttributeDisplayName</key>
		<string>BottomHeight</string>
		<key>CIAttributeMin</key>
		<real>0.0</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeDistance</string>
	</dict>
	<key>inputFoldShadowAmount</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>0.10000000000000001</real>
		<key>CIAttributeDisplayName</key>
		<string>FoldShadowAmount</string>
		<key>CIAttributeMax</key>
		<real>1</real>
		<key>CIAttributeMin</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>1</real>
		<key>CIAttributeSliderMin</key>
		<real>0.0</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeScalar</string>
	</dict>
	<key>inputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The image to use as an input image. For filters that also use a background image, this is the foreground image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Image</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeImage</string>
	</dict>
	<key>inputNumberOfFolds</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<integer>3</integer>
		<key>CIAttributeDisplayName</key>
		<string>NumberOfFolds</string>
		<key>CIAttributeMax</key>
		<integer>50</integer>
		<key>CIAttributeMin</key>
		<integer>1</integer>
		<key>CIAttributeSliderMax</key>
		<integer>10</integer>
		<key>CIAttributeSliderMin</key>
		<integer>1</integer>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeScalar</string>
	</dict>
	<key>inputTargetImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The target image for a transition.</string>
		<key>CIAttributeDisplayName</key>
		<string>Target Image</string>
	</dict>
	<key>inputTime</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>0.0</real>
		<key>CIAttributeDescription</key>
		<string>The duration of the effect.</string>
		<key>CIAttributeDisplayName</key>
		<string>Time</string>
		<key>CIAttributeIdentity</key>
		<real>0.0</real>
		<key>CIAttributeMax</key>
		<real>1</real>
		<key>CIAttributeMin</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>1</real>
		<key>CIAttributeSliderMin</key>
		<real>0.0</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeTime</string>
	</dict>
</dict>
</plist>
