<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeFilterAvailable_Mac</key>
	<string>10.5</string>
	<key>CIAttributeFilterAvailable_iOS</key>
	<string>9</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryReduction</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>Area Minimum Alpha</string>
	<key>CIAttributeFilterName</key>
	<string>CIAreaMinimumAlpha</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CIAreaMinimumAlpha</string>
	<key>inputExtent</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[0 0 640 80]</string>
		<key>CIAttributeDescription</key>
		<string>A rectangle that specifies the subregion of the image that you want to process.</string>
		<key>CIAttributeDisplayName</key>
		<string>Extent</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeRectangle</string>
	</dict>
	<key>inputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The image to process.</string>
		<key>CIAttributeDisplayName</key>
		<string>Image</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeImage</string>
	</dict>
</dict>
</plist>
