<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeDescription</key>
	<string>Uses values from a grayscale mask to interpolate between an image and the background. When a mask green value is 0.0, the result is the background. When the mask green value is 1.0, the result is the image.</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryStylize</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>Blend With Mask</string>
	<key>CIAttributeFilterName</key>
	<string>CIBlendWithMask</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CIBlendWithMask</string>
	<key>inputBackgroundImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The image to use as a background image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Background Image</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The image to use as an input image. For filters that also use a background image, this is the foreground image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Image</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputMaskImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>A grayscale mask. When a mask value is 0.0, the result is the background. When the mask value is 1.0, the result is the image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Mask Image</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>outputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
	</dict>
</dict>
</plist>
