<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeDescription</key>
	<string>Clamp color to a certain range.</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryColorAdjustment</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryInterlaced</string>
		<string>CICategoryNonSquarePixels</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>Color Clamp</string>
	<key>CIAttributeFilterName</key>
	<string>CIColorClamp</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CIColorClamp</string>
	<key>inputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The image to use as an input image. For filters that also use a background image, this is the foreground image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Image</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputMaxComponents</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[1 1 1 1]</string>
		<key>CIAttributeDescription</key>
		<string>Higher clamping values</string>
		<key>CIAttributeDisplayName</key>
		<string>MaxComponents</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeRectangle</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputMinComponents</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[0 0 0 0]</string>
		<key>CIAttributeDescription</key>
		<string>Lower clamping values</string>
		<key>CIAttributeDisplayName</key>
		<string>MinComponents</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeRectangle</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>outputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
	</dict>
</dict>
</plist>
