<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeFilterAvailable_Mac</key>
	<string>10.4</string>
	<key>CIAttributeFilterAvailable_iOS</key>
	<string>5</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryColorAdjustment</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryInterlaced</string>
		<string>CICategoryNonSquarePixels</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>Color Matrix</string>
	<key>CIAttributeFilterName</key>
	<string>CIColorMatrix</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CIColorMatrix</string>
	<key>inputAVector</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[0 0 0 1]</string>
		<key>CIAttributeDescription</key>
		<string>The amount of alpha to multiply the source color values by.</string>
		<key>CIAttributeDisplayName</key>
		<string>Alpha Vector</string>
		<key>CIAttributeIdentity</key>
		<string>[0 0 0 1]</string>
	</dict>
	<key>inputBVector</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[0 0 1 0]</string>
		<key>CIAttributeDescription</key>
		<string>The amount of blue to multiply the source color values by.</string>
		<key>CIAttributeDisplayName</key>
		<string>Blue Vector</string>
		<key>CIAttributeIdentity</key>
		<string>[0 0 1 0]</string>
	</dict>
	<key>inputBiasVector</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[0 0 0 0]</string>
		<key>CIAttributeDescription</key>
		<string>A vector that's added to each color component.</string>
		<key>CIAttributeDisplayName</key>
		<string>Bias Vector</string>
		<key>CIAttributeIdentity</key>
		<string>[0 0 0 0]</string>
	</dict>
	<key>inputGVector</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[0 1 0 0]</string>
		<key>CIAttributeDescription</key>
		<string>The amount of green to multiply the source color values by.</string>
		<key>CIAttributeDisplayName</key>
		<string>Green Vector</string>
		<key>CIAttributeIdentity</key>
		<string>[0 1 0 0]</string>
	</dict>
	<key>inputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The image to use as an input image. For filters that also use a background image, this is the foreground image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Image</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeImage</string>
	</dict>
	<key>inputRVector</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[1 0 0 0]</string>
		<key>CIAttributeDescription</key>
		<string>The amount of red to multiply the source color values by.</string>
		<key>CIAttributeDisplayName</key>
		<string>Red Vector</string>
		<key>CIAttributeIdentity</key>
		<string>[1 0 0 0]</string>
	</dict>
</dict>
</plist>
