<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeDescription</key>
	<string>Generates a gradient that varies from one color to another using a Gaussian distribution.</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryGradient</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>Gaussian Gradient</string>
	<key>CIAttributeFilterName</key>
	<string>CIGaussianGradient</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CIGaussianGradient</string>
	<key>inputCenter</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[150 150]</string>
		<key>CIAttributeDescription</key>
		<string>The center of the area, as x and y coordinates, to filter.</string>
		<key>CIAttributeDisplayName</key>
		<string>Center</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypePosition</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputColor0</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIColor</string>
		<key>CIAttributeDefault</key>
		<string>1 1 1 1</string>
		<key>CIAttributeDescription</key>
		<string>The first color to use in the gradient.</string>
		<key>CIAttributeDisplayName</key>
		<string>Color 1</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputColor1</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIColor</string>
		<key>CIAttributeDefault</key>
		<string>0 0 0 0</string>
		<key>CIAttributeDescription</key>
		<string>The second color to use in the gradient.</string>
		<key>CIAttributeDisplayName</key>
		<string>Color 2</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputRadius</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>300</real>
		<key>CIAttributeDescription</key>
		<string>The radius of the Gaussian distribution.</string>
		<key>CIAttributeDisplayName</key>
		<string>Radius</string>
		<key>CIAttributeMin</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>800</real>
		<key>CIAttributeSliderMin</key>
		<real>0.0</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeDistance</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>outputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
	</dict>
</dict>
</plist>
