<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeFilterAvailable_Mac</key>
	<string>10.4</string>
	<key>CIAttributeFilterAvailable_iOS</key>
	<string>6</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryGeometryAdjustment</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>Lanczos Scale Transform</string>
	<key>CIAttributeFilterName</key>
	<string>CILanczosScaleTransform</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CILanczosScaleTransform</string>
	<key>inputAspectRatio</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>1</real>
		<key>CIAttributeDescription</key>
		<string>The aspect ratio of the image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Aspect Ratio</string>
		<key>CIAttributeIdentity</key>
		<real>1</real>
		<key>CIAttributeMin</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>2</real>
		<key>CIAttributeSliderMin</key>
		<real>0.5</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeScalar</string>
	</dict>
	<key>inputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The image to use as an input image. For filters that also use a background image, this is the foreground image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Image</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeImage</string>
	</dict>
	<key>inputScale</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>1</real>
		<key>CIAttributeDescription</key>
		<string>The scaling factor to use on the image. Values less than 1.0 scale down the images. Values greater than 1.0 scale up the image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Scale</string>
		<key>CIAttributeIdentity</key>
		<real>1</real>
		<key>CIAttributeMin</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>1.5</real>
		<key>CIAttributeSliderMin</key>
		<real>0.050000000000000003</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeScalar</string>
	</dict>
</dict>
</plist>
