<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeDescription</key>
	<string>Creates a sketch that outlines the edges of an image in black, leaving the non-outlined portions of the image transparent. The result has alpha and is rendered in black, so it won't look like much until you render it over another image using source over compositing.</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryStylize</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>Line Overlay</string>
	<key>CIAttributeFilterName</key>
	<string>CILineOverlay</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CILineOverlay</string>
	<key>inputContrast</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>50</real>
		<key>CIAttributeDescription</key>
		<string>The amount of anti-aliasing to use on the edges produced by this filter. Higher values produce higher contrast edges (they are less anti-aliased).</string>
		<key>CIAttributeDisplayName</key>
		<string>Contrast</string>
		<key>CIAttributeIdentity</key>
		<real>1</real>
		<key>CIAttributeMin</key>
		<real>0.25</real>
		<key>CIAttributeSliderMax</key>
		<real>200</real>
		<key>CIAttributeSliderMin</key>
		<real>0.25</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeScalar</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputEdgeIntensity</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>1</real>
		<key>CIAttributeDescription</key>
		<string>The accentuation factor of the Sobel gradient information when tracing the edges of the image. Higher values find more edges, although typically a low value (such as 1.0) is used.</string>
		<key>CIAttributeDisplayName</key>
		<string>Edge Intensity</string>
		<key>CIAttributeIdentity</key>
		<real>0.0</real>
		<key>CIAttributeMin</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>200</real>
		<key>CIAttributeSliderMin</key>
		<real>0.0</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeScalar</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The image to use as an input image. For filters that also use a background image, this is the foreground image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Image</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputNRNoiseLevel</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>0.070000000000000007</real>
		<key>CIAttributeDescription</key>
		<string>The noise level of the image (used with camera data) that gets removed before tracing the edges of the image. Increasing the noise level helps to clean up the traced edges of the image.</string>
		<key>CIAttributeDisplayName</key>
		<string>NR Noise Level</string>
		<key>CIAttributeIdentity</key>
		<real>0.0</real>
		<key>CIAttributeMin</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>0.10000000000000001</real>
		<key>CIAttributeSliderMin</key>
		<real>0.0</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeScalar</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputNRSharpness</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>0.70999999999999996</real>
		<key>CIAttributeDescription</key>
		<string>The amount of sharpening done when removing noise in the image before tracing the edges of the image. This improves the edge acquisition.</string>
		<key>CIAttributeDisplayName</key>
		<string>NR Sharpness</string>
		<key>CIAttributeIdentity</key>
		<real>0.0</real>
		<key>CIAttributeMin</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>2</real>
		<key>CIAttributeSliderMin</key>
		<real>0.0</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeScalar</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputThreshold</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>0.10000000000000001</real>
		<key>CIAttributeDescription</key>
		<string>This value determines edge visibility. Larger values thin out the edges.</string>
		<key>CIAttributeDisplayName</key>
		<string>Threshold</string>
		<key>CIAttributeIdentity</key>
		<real>0.0</real>
		<key>CIAttributeMin</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>1</real>
		<key>CIAttributeSliderMin</key>
		<real>0.0</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeScalar</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>outputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
	</dict>
</dict>
</plist>
