<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeDescription</key>
	<string>Transitions from one image to another by revealing the target image through irregularly shaped holes.</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryTransition</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>Mod</string>
	<key>CIAttributeFilterName</key>
	<string>CIModTransition</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CIModTransition</string>
	<key>inputAngle</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>2</real>
		<key>CIAttributeDescription</key>
		<string>The angle of the mod hole pattern.</string>
		<key>CIAttributeDisplayName</key>
		<string>Angle</string>
		<key>CIAttributeIdentity</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>6.2831853071795862</real>
		<key>CIAttributeSliderMin</key>
		<real>-6.2831853071795862</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeAngle</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputCenter</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[150 150]</string>
		<key>CIAttributeDescription</key>
		<string>The x and y position to use as the center of the effect</string>
		<key>CIAttributeDisplayName</key>
		<string>Center</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypePosition</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputCompression</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>300</real>
		<key>CIAttributeDescription</key>
		<string>The amount of stretching applied to the mod hole pattern. Holes in the center are not distorted as much as those at the edge of the image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Compression</string>
		<key>CIAttributeMin</key>
		<real>1</real>
		<key>CIAttributeSliderMax</key>
		<real>800</real>
		<key>CIAttributeSliderMin</key>
		<real>100</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeDistance</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The image to use as an input image. For filters that also use a background image, this is the foreground image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Image</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputRadius</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>150</real>
		<key>CIAttributeDescription</key>
		<string>The radius of the undistorted holes in the pattern.</string>
		<key>CIAttributeDisplayName</key>
		<string>Radius</string>
		<key>CIAttributeMin</key>
		<real>1</real>
		<key>CIAttributeSliderMax</key>
		<real>200</real>
		<key>CIAttributeSliderMin</key>
		<real>1</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeDistance</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputTargetImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The target image for a transition.</string>
		<key>CIAttributeDisplayName</key>
		<string>Target Image</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputTime</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>0.0</real>
		<key>CIAttributeDescription</key>
		<string>The parametric time of the transition. This value drives the transition from start (at time 0) to end (at time 1).</string>
		<key>CIAttributeDisplayName</key>
		<string>Time</string>
		<key>CIAttributeIdentity</key>
		<real>0.0</real>
		<key>CIAttributeMax</key>
		<real>1</real>
		<key>CIAttributeMin</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>1</real>
		<key>CIAttributeSliderMin</key>
		<real>0.0</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeTime</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>outputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
	</dict>
</dict>
</plist>
