<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeFilterAvailable_Mac</key>
	<string>10.11</string>
	<key>CIAttributeFilterAvailable_iOS</key>
	<string>9</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryGenerator</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>PDF417 Barcode Generator</string>
	<key>CIAttributeFilterName</key>
	<string>CIPDF417BarcodeGenerator</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CIPDF417BarcodeGenerator</string>
	<key>inputAlwaysSpecifyCompaction</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDisplayName</key>
		<string>AlwaysSpecifyCompaction</string>
		<key>CIAttributeMax</key>
		<integer>9223372036854775807</integer>
		<key>CIAttributeMin</key>
		<integer>-9223372036854775808</integer>
		<key>CIAttributeSliderMax</key>
		<integer>9223372036854775807</integer>
		<key>CIAttributeSliderMin</key>
		<integer>-9223372036854775808</integer>
	</dict>
	<key>inputCompactStyle</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDisplayName</key>
		<string>CompactStyle</string>
		<key>CIAttributeMax</key>
		<true/>
		<key>CIAttributeMin</key>
		<false/>
		<key>CIAttributeSliderMax</key>
		<true/>
		<key>CIAttributeSliderMin</key>
		<false/>
	</dict>
	<key>inputCompactionMode</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDisplayName</key>
		<string>CompactionMode</string>
		<key>CIAttributeMax</key>
		<integer>3</integer>
		<key>CIAttributeMin</key>
		<integer>0</integer>
		<key>CIAttributeSliderMax</key>
		<integer>3</integer>
		<key>CIAttributeSliderMin</key>
		<integer>0</integer>
	</dict>
	<key>inputCorrectionLevel</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDisplayName</key>
		<string>CorrectionLevel</string>
		<key>CIAttributeMax</key>
		<integer>8</integer>
		<key>CIAttributeMin</key>
		<integer>0</integer>
		<key>CIAttributeSliderMax</key>
		<integer>8</integer>
		<key>CIAttributeSliderMin</key>
		<integer>0</integer>
	</dict>
	<key>inputDataColumns</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDisplayName</key>
		<string>DataColumns</string>
		<key>CIAttributeMax</key>
		<integer>30</integer>
		<key>CIAttributeMin</key>
		<integer>1</integer>
		<key>CIAttributeSliderMax</key>
		<integer>30</integer>
		<key>CIAttributeSliderMin</key>
		<integer>1</integer>
	</dict>
	<key>inputMaxHeight</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDisplayName</key>
		<string>MaxHeight</string>
		<key>CIAttributeMax</key>
		<integer>283</integer>
		<key>CIAttributeMin</key>
		<integer>13</integer>
		<key>CIAttributeSliderMax</key>
		<integer>283</integer>
		<key>CIAttributeSliderMin</key>
		<integer>13</integer>
	</dict>
	<key>inputMaxWidth</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDisplayName</key>
		<string>MaxWidth</string>
		<key>CIAttributeMax</key>
		<integer>583</integer>
		<key>CIAttributeMin</key>
		<integer>56</integer>
		<key>CIAttributeSliderMax</key>
		<integer>583</integer>
		<key>CIAttributeSliderMin</key>
		<integer>56</integer>
	</dict>
	<key>inputMessage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSData</string>
		<key>CIAttributeDisplayName</key>
		<string>Message</string>
	</dict>
	<key>inputMinHeight</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDisplayName</key>
		<string>MinHeight</string>
		<key>CIAttributeMax</key>
		<integer>283</integer>
		<key>CIAttributeMin</key>
		<integer>13</integer>
		<key>CIAttributeSliderMax</key>
		<integer>283</integer>
		<key>CIAttributeSliderMin</key>
		<integer>13</integer>
	</dict>
	<key>inputMinWidth</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDisplayName</key>
		<string>MinWidth</string>
		<key>CIAttributeMax</key>
		<integer>583</integer>
		<key>CIAttributeMin</key>
		<integer>56</integer>
		<key>CIAttributeSliderMax</key>
		<integer>583</integer>
		<key>CIAttributeSliderMin</key>
		<integer>56</integer>
	</dict>
	<key>inputPreferredAspectRatio</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDisplayName</key>
		<string>PreferredAspectRatio</string>
		<key>CIAttributeMax</key>
		<integer>9223372036854775807</integer>
		<key>CIAttributeMin</key>
		<integer>0</integer>
		<key>CIAttributeSliderMax</key>
		<integer>9223372036854775807</integer>
		<key>CIAttributeSliderMin</key>
		<integer>0</integer>
	</dict>
	<key>inputRows</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDisplayName</key>
		<string>Rows</string>
		<key>CIAttributeMax</key>
		<integer>90</integer>
		<key>CIAttributeMin</key>
		<integer>3</integer>
		<key>CIAttributeSliderMax</key>
		<integer>90</integer>
		<key>CIAttributeSliderMin</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
