<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeDescription</key>
	<string>Applies a perspective transform to an image and then tiles the result.</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryTileEffect</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>Perspective Tile</string>
	<key>CIAttributeFilterName</key>
	<string>CIPerspectiveTile</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CIPerspectiveTile</string>
	<key>inputBottomLeft</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[155 153]</string>
		<key>CIAttributeDescription</key>
		<string>The bottom left coordinate of a tile.</string>
		<key>CIAttributeDisplayName</key>
		<string>Bottom Left</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypePosition</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputBottomRight</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[548 140]</string>
		<key>CIAttributeDescription</key>
		<string>The bottom right coordinate of a tile.</string>
		<key>CIAttributeDisplayName</key>
		<string>Bottom Right</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypePosition</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The image to use as an input image. For filters that also use a background image, this is the foreground image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Image</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputTopLeft</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[118 484]</string>
		<key>CIAttributeDescription</key>
		<string>The top left coordinate of a tile.</string>
		<key>CIAttributeDisplayName</key>
		<string>Top Left</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypePosition</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputTopRight</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[646 507]</string>
		<key>CIAttributeDescription</key>
		<string>The top right coordinate of a tile.</string>
		<key>CIAttributeDisplayName</key>
		<string>Top Right</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypePosition</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>outputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
	</dict>
</dict>
</plist>
