<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeFilterAvailable_Mac</key>
	<string>10.9</string>
	<key>CIAttributeFilterAvailable_iOS</key>
	<string>7</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryGenerator</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>QRCode Generator</string>
	<key>CIAttributeFilterName</key>
	<string>CIQRCodeGenerator</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CIQRCodeGenerator</string>
	<key>inputCorrectionLevel</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSString</string>
		<key>CIAttributeDefault</key>
		<string>M</string>
		<key>CIAttributeDescription</key>
		<string>QRCode correction level L, M, Q, or H.</string>
		<key>CIAttributeDisplayName</key>
		<string>CorrectionLevel</string>
	</dict>
	<key>inputMessage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSData</string>
		<key>CIAttributeDisplayName</key>
		<string>Message</string>
	</dict>
</dict>
</plist>
