<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeFilterAvailable_Mac</key>
	<string>10.4</string>
	<key>CIAttributeFilterAvailable_iOS</key>
	<string>5</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryGradient</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>Radial Gradient</string>
	<key>CIAttributeFilterName</key>
	<string>CIRadialGradient</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CIRadialGradient</string>
	<key>inputCenter</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[150 150]</string>
		<key>CIAttributeDescription</key>
		<string>The center of the effect as x and y coordinates.</string>
		<key>CIAttributeDisplayName</key>
		<string>Center</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypePosition</string>
	</dict>
	<key>inputColor0</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIColor</string>
		<key>CIAttributeDefault</key>
		<string>1 1 1 1</string>
		<key>CIAttributeDescription</key>
		<string>The first color to use in the gradient.</string>
		<key>CIAttributeDisplayName</key>
		<string>Color 1</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeColor</string>
	</dict>
	<key>inputColor1</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIColor</string>
		<key>CIAttributeDefault</key>
		<string>0 0 0 1</string>
		<key>CIAttributeDescription</key>
		<string>The second color to use in the gradient.</string>
		<key>CIAttributeDisplayName</key>
		<string>Color 2</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeColor</string>
	</dict>
	<key>inputRadius0</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>5</real>
		<key>CIAttributeDescription</key>
		<string>The radius of the starting circle to use in the gradient.</string>
		<key>CIAttributeDisplayName</key>
		<string>Radius 1</string>
		<key>CIAttributeMin</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>800</real>
		<key>CIAttributeSliderMin</key>
		<real>0.0</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeDistance</string>
	</dict>
	<key>inputRadius1</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>100</real>
		<key>CIAttributeDescription</key>
		<string>The radius of the ending circle to use in the gradient.</string>
		<key>CIAttributeDisplayName</key>
		<string>Radius 2</string>
		<key>CIAttributeMin</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>800</real>
		<key>CIAttributeSliderMin</key>
		<real>0.0</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeDistance</string>
	</dict>
</dict>
</plist>
