<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeFilterAvailable_Mac</key>
	<string>10.4</string>
	<key>CIAttributeFilterAvailable_iOS</key>
	<string>6</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryGenerator</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>Random Generator</string>
	<key>CIAttributeFilterName</key>
	<string>CIRandomGenerator</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CIRandomGenerator</string>
</dict>
</plist>
