<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeDescription</key>
	<string>Produces a shaded image from a height field. The height field is defined to have greater heights with lighter shades, and lesser heights (lower areas) with darker shades. You can combine this filter with the CIHeightFieldFromMask filter to produce quick shadings of masks, such as text.</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryStylize</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>Shaded Material</string>
	<key>CIAttributeFilterName</key>
	<string>CIShadedMaterial</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CIShadedMaterial</string>
	<key>inputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The image to use as an input image. For filters that also use a background image, this is the foreground image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Image</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputScale</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>10</real>
		<key>CIAttributeDescription</key>
		<string>THe scale of the effect. The higher the value, the more dramatic the effect.</string>
		<key>CIAttributeDisplayName</key>
		<string>Scale</string>
		<key>CIAttributeMin</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>200</real>
		<key>CIAttributeSliderMin</key>
		<real>0.5</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeDistance</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputShadingImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The image to use as the height field. The resulting image has greater heights with lighter shades, and lesser heights (lower areas) with darker shades.</string>
		<key>CIAttributeDisplayName</key>
		<string>Shading Image</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>outputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
	</dict>
</dict>
</plist>
