<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeFilterAvailable_Mac</key>
	<string>10.4</string>
	<key>CIAttributeFilterAvailable_iOS</key>
	<string>5</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryDistortionEffect</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>Twirl Distortion</string>
	<key>CIAttributeFilterName</key>
	<string>CITwirlDistortion</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CITwirlDistortion</string>
	<key>inputAngle</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>3.1415926535897931</real>
		<key>CIAttributeDescription</key>
		<string>The angle (in radians) of the twirl. Values can be positive or negative.</string>
		<key>CIAttributeDisplayName</key>
		<string>Angle</string>
		<key>CIAttributeIdentity</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>12.566370614359172</real>
		<key>CIAttributeSliderMin</key>
		<real>-12.566370614359172</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeAngle</string>
	</dict>
	<key>inputCenter</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIVector</string>
		<key>CIAttributeDefault</key>
		<string>[150 150]</string>
		<key>CIAttributeDescription</key>
		<string>The center of the effect as x and y coordinates.</string>
		<key>CIAttributeDisplayName</key>
		<string>Center</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypePosition</string>
	</dict>
	<key>inputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The image to use as an input image. For filters that also use a background image, this is the foreground image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Image</string>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeImage</string>
	</dict>
	<key>inputRadius</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>NSNumber</string>
		<key>CIAttributeDefault</key>
		<real>300</real>
		<key>CIAttributeDescription</key>
		<string>The radius determines how many pixels are used to create the distortion. The larger the radius, wider the extent of the distortion.</string>
		<key>CIAttributeDisplayName</key>
		<string>Radius</string>
		<key>CIAttributeIdentity</key>
		<real>300</real>
		<key>CIAttributeMin</key>
		<real>0.0</real>
		<key>CIAttributeSliderMax</key>
		<real>500</real>
		<key>CIAttributeSliderMin</key>
		<real>0.0</real>
		<key>CIAttributeType</key>
		<string>CIAttributeTypeDistance</string>
	</dict>
</dict>
</plist>
