<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIAttributeDescription</key>
	<string>Adjusts the reference white point for an image and maps all colors in the source using the new reference.</string>
	<key>CIAttributeFilterCategories</key>
	<array>
		<string>CICategoryColorAdjustment</string>
		<string>CICategoryVideo</string>
		<string>CICategoryStillImage</string>
		<string>CICategoryInterlaced</string>
		<string>CICategoryNonSquarePixels</string>
		<string>CICategoryBuiltIn</string>
	</array>
	<key>CIAttributeFilterDisplayName</key>
	<string>White Point Adjust</string>
	<key>CIAttributeFilterName</key>
	<string>CIWhitePointAdjust</string>
	<key>CIAttributeReferenceDocumentation</key>
	<string>http://developer.apple.com/cgi-bin/apple_ref.cgi?apple_ref=//apple_ref/doc/filter/ci/CIWhitePointAdjust</string>
	<key>inputColor</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIColor</string>
		<key>CIAttributeDefault</key>
		<string>1 0.9 0.8 1</string>
		<key>CIAttributeDescription</key>
		<string>A color to use as the white point.</string>
		<key>CIAttributeDisplayName</key>
		<string>Color</string>
		<key>CIAttributeIdentity</key>
		<string>1 1 1 1</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>inputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
		<key>CIAttributeDescription</key>
		<string>The image to use as an input image. For filters that also use a background image, this is the foreground image.</string>
		<key>CIAttributeDisplayName</key>
		<string>Image</string>
		<key>CIUIParameterSet</key>
		<string>CIUISetBasic</string>
	</dict>
	<key>outputImage</key>
	<dict>
		<key>CIAttributeClass</key>
		<string>CIImage</string>
	</dict>
</dict>
</plist>
